<h1 class='col s12'>Plan your trip</h1>

<div class='row'>
  <div class='col s12 m9'>
    <div class="row">
      <form>
        <div class='col s12 m6'>
          <label for='location'>Where do you want to go?</label>
          <div class='autocomplete-container' id='location' name='location'></div>
        </div>

        <div class='col s6 m3 mt-3'>
      
          <input type='text' name='start date' class='start' id='1' placeholder='Start Date' />
          <input type='text' name='end date' class='end' id='1' placeholder='End Date' />
          
        </div>


        <div class='input-field col s6 m3'>
          <select id='price-filter'>
            <option value=''>Any Price</option>
            <option value='1'>$</option>
            <option value='2'>$$</option>
            <option value='3'>$$$</option>
            <option value='4'>$$$$</option>
          </select>
          <label>Filter By Price</label>
          <button type='submit' class='btn btn-primary s2' id='search-hotel-button'>Find Hotels</button>
        </div>
      </form>
    </div>

    <div class="fixed-action-btn">
       <a class='btn-floating btn-large waves-effect waves-light red pulse' href='/summary'><i
          class='material-icons'>done</i></a>
    </div>
    <div id='content'></div>
  </div>


  <div class="col s12 m3">
  {{!-- <aside class='col s6 offset-s6'> --}}
    <ul class="collection with-header">
      <li class="collection-header">
        <h4>Trips by Other Users</h4>
      </li>
      {{!-- <h2>Trips by Other Users</h2> --}}

      {{!-- <div class='social-trips'> --}}
        {{#each trips as |trip|}}
        <li class="collection-item">
          <div>
            <a href="#!" class="secondary-content"><i class="material-icons">favorite</i></a>
            <p class="card-title"><a href='/socialtrip/{{trip.id}}'>{{trip.location}}</a></p>
            <p>Planned by: {{user.first_name}} {{user.last_name}}</p>
          </div>
          {{!-- <a href='/socialtrip/{{trip.id}}'>
            <h3>{{trip.location}}</h3>
          </a> --}}
        </li>
        {{!--
      </div>
      Planned by:
      {{user.first_name}}
      {{user.last_name}} --}}
      {{/each}}
      </li>
    </ul>
  </div>
</div>

<script src="https://unpkg.com/js-datepicker"></script>
<script src='/js/yelp.js'></script>
<script src='/js/materialize.js'></script>
<script src='/js/autocomplete.js'></script>