<!-- Loop over each object in the projects array -->
{{#each trips as |trip| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{!-- {{{get_emoji}}} --}}
      <a href="/project/{{trip.id}}">{{trip.location}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span>{{trip.start_date}}</span>
      <span>{{trip.end_date}}</span>
    </p>
    {{!-- <p>Created by {{project.user.first_name}} on {{format_date project.date_created}}</p> --}}
  </div>
  <div class="col-md-7">
    <p>
      {{trip.location}}
    </p>
  </div>
</div>
{{/each}}
