{{!-- <h1>{{location}}</h1>
<h2>{{start_date}} - {{end_date}}</h2>
Planned by: {{user.first_name}} {{user.last_name}}
<hr>
<h3>Activities</h3>
    {{#each activities as |activity| }}
    <a href="{{activity.id}}"><h3>{{activity.activity_name}}</h3></a>
    {{activity.activity_date}}
    {{/each}}

<li class="collection-item">
    {{#each activities as |activity| }}
    <a href="{{activity.id}}"><h6>{{activity.activity_name}}</h6></a>
    <p>{{activity.activity_date}}</p>
    {{/each}}
</li> --}}

<div class="summary-container">
   <ul class="collection with-header">
        <li class="collection-header">
          <h4>{{location}}</h4>
          <p><span for="img" aria-label="edit"> ✍ </span>Created by {{user.first_name}}</p>
        </li>

        <li class="collection-item">
          <p><span for="img" aria-label="calendar">📅  </span> {{start_date}} - {{end_date}}</p>
        </li>

        <li class="collection-item">
          <p><span for="img" aria-label="hotel"> 🏨 </span> {{hotel.hotel_name}} - {{hotel.hotel_address}} </p>
        </li>
        <li class="collection-header">
          <h5>Activities</h5>
        </li>
        <li class="collection-item">
          {{#each activities as |activity| }}
             <h6><span for="img" aria-label="activity"> 🚲 </span>{{activity.activity_date}} -
             <a href="/socialtrip/{{activity.id}}">{{activity.activity_name}}</a></h6>
           
          {{/each}}
        </li>
      </ul>
</div>