<div class="text-center">
  <p><h2>{{location}}</h2></p>
  <p>Created by {{user.first_name}}</p>
  <p>
    <span for="img" aria-label="money">📅</span>
    <br>
    Start Date: <span class="dollar-amount"> {{start_date}}</span>
    <br>
    End Date: <span class="dollar-amount"> {{end_date}}</span>

{{!-- test of passing in hotel to template======================================================== --}}
    {{hotel.hotel_name}} {{hotel.hotel_address}}
  </p>

  <h3>Activities</h3>
    {{#each activities as |activity| }}
    <a href="/socialtrip/{{activity.id}}"><h3>{{activity.activity_name}}</h3></a>
    {{activity.activity_date}}
    {{/each}}
</div>